@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.pw-container {
  background-color: rgb(46, 12, 80);
  width: 400px;
}
.pw-header {
  background-color: rebeccapurple;
  padding: 1rem;
}
.pw-body {
  padding: 1rem;
}
